<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form action="/" method="POST">
      <textarea id="user_input"></textarea>
      <input id="submit" type="submit">
    </form>
  </body>
</html>